@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@viewport
{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport
{
  width: extend-to-zoom;
  zoom: 1.0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
}

body{
  background: linear-gradient(to left,  #dc2f02 0%, #fb8500 100%);
}

.color{
  background: rgba(245, 245, 220, 0.5); 
}

.header{
  display: flex;
  align-items: center;
}

.title{
  color: white;
  margin-left:45%;
  font-size: 300%;
}

.back {
  cursor: pointer;
  cursor: hover;
  text-align: center;
  width: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 6%;
  padding: 10px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100px 100px 100px 100px;
}

.backButton {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .card {
  background: #fff;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  border-radius: 100px 100px 100px 100px;
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}

.outer:hover .card {
  animation-play-state: paused;
}

.wrapper .card:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateX(100%) scale(0.7);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
  }
}

.card .details {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.wrapper .card .img {
  height: 90px;
  width: 90px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.card .img img {
  height: 150%;
  width: 150%;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 270px;
  margin-top: 30px;
}

.card .details {
  margin-left: 80px;
}

.infos {
  margin-left: 10px;
}

.details span {
  font-weight: 800;
  font-size: 36px;
}
